<%= turbo_stream.update 'sign_token' do %>
  <%= link_to({ action: 'code', identity: params[:identity] }, data: { controller: 'count-down', count_down_time_value: 60, action: 'common#link' }, disabled: true, class: 'button is-info') do %>
    <span>重新发送</span>
  <% end %>
<% end %>
