<%= turbo_stream.update 'sign_token' do %>
  <button type="button" data-url="<%= url_for(action: 'code', identity: params[:identity]) %>" data-controller="common count-down" data-count-down-time-value="60" data-count-down-target="disabled" data-action="common#streamPost" disabled="disabled" class="button is-info">
    <span>重新发送（</span>
    <span data-count-down-target="count"></span>
    <span>）</span>
  </button>
<% end %>
