<%= turbo_stream.append 'body' do %>
  <div
    data-controller="visit"
    data-visit-params-value=""
    data-visit-url-value="<%= session[:return_to].presence || root_url %>"
  >
  </div>
<% end %>
