<h4 class="weui-cells__title">请注册或登陆</h4>
<%= form_with scope: nil, url: sign_token_path, local: true, builder: WechatFormBuilder do |f| %>
  <%= f.hidden_field :uid, value: params[:uid], autocomplete: false %>
  <%= f.text_field :identity, value: params[:identity], label: Account.human_attribute_name(:identity) %>
  <%= f.submit t('.next') %>
<% end %>
