<%= form_with theme: 'weui', scope: nil, url: { action: 'sign' }, id: 'auth_form' do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <h4 class="weui-cells__title">注册或登录</h4>
      <div class="weui-cells weui-cells_form">
        <% params.permit(:uid, :request_id, :state).each do |key, value| %>
          <%= f.hidden_field key, value: value, autocomplete: false %>
        <% end %>
        <%= f.text_field :identity, value: params[:identity], placeholder: '手机号或Email', autofocus: true %>
      </div>
    </div>
  </div>
  <%= f.submit t('.next'), wrap: { all: nil } %>
<% end %>
