<div class="menu-label"><%= t('auth.board.title') %></div>
<div class="menu-list">
  <%= link_to t('auth.board.users.show.title'), my_user_path, class: active_helper(controllers: ['users'], active: 'is-active') %>
  <%= link_to t('auth.board.accounts.index.title'), my_accounts_path, class: active_helper(controllers: ['accounts'], active: 'is-active') %>
  <%= link_to t('auth.board.oauth_users.index.title'), my_oauth_users_path, class: active_helper(controllers: ['oauth_users'], active: 'is-active') %>
</div>
