<p>尊敬的用户：<%= @user.email %>!</p>

<p>您在访问<%= t('site_name') %>点击了“忘记密码”链接，这是一封密码重置确认邮件</p>

<p><%= link_to '修改密码', password_reset_url(@user.get_reset_token) %></p>

<p>如果非本人操作，请忽略本邮件。</p>
<p>你的密码不会改变。</p>
