<p>Dear User,</p>

<p>We have received a request to reset the password for your user account on <%= t('site_name') %>. Please follow the link below to reset your password.</p>

<p><%= link_to 'Password Reset', password_reset_url(@user.reset_token.token) %></p>

<p>If you did not make this request, you can safely ignore it.</p>

<p>Kind regards,</p>

<p>MDPI</p>
