<table class="table is-fullwidth">
  <% target.verify_tokens.each do |vt| %>
    <tr>
      <td><%= vt.type_i18n %></td>
      <td class="six wide" style="overflow: scroll">
        <pre><%= vt.token %></pre>
      </td>
      <td><time data-controller="time"><%= vt.expire_at.to_s(:iso8601) %></time></td>
    </tr>
  <% end %>
</table>
