<div
  data-controller="antv-line"
  data-antv-line-url-value="<%= url_for(controller: 'users', action: 'month') %>"
>
</div>


<div
  data-controller="antv-line"
  data-antv-line-url-value="<%= url_for(controller: 'oauth_users', action: 'month') %>"
>
</div>
