<div class="<%= active_helper(modules: 'auth/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-users fa-fw"></i>
    <span><%= t('auth.admin.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list">
    <%= link_to t('auth.admin.oauth_users.index.title'), { controller: 'auth/admin/oauth_users' }, class: active_helper(controllers: 'oauth_users', active: 'is-active') %>
    <%= link_to t('auth.admin.user_tags.index.title'), { controller: 'auth/admin/user_tags' }, class: active_helper(controllers: ['user_tags', 'user_taggeds'], active: 'is-active') %>
  </div>
</div>
