<th>
  <p class="text-success"><%= Auth::OauthUser.human_attribute_name(:uid) %></p>
  <p class="text-grey"><%= Auth::OauthUser.human_attribute_name(:appid) %></p>
</th>
<th><%= Auth::OauthUser.human_attribute_name(:name) %></th>
<th><%= Auth::OauthUser.human_attribute_name(:user) %></th>
<th></th>
