<div class="ui centered middle aligned grid">
<div class="six wide column">

  <h4 class="ui block top attached header">请注册</h4>

  <div class="ui bottom attached segment">
    <%= render 'form' %>
  </div>

</div>
</div>

