<footer class="ui padded grid">
  <div class="ui container">
    <div class="divided row">

    </div>
    <div class="ui basic center aligned segment">
      <p class="">Copyright©2016-<%= Date.today.year %> www.yigexiangfa.com All Rights Reserved.</p>
      <p class="">一个想法 版权所有</p>
    </div>
  </div>

</footer>
