<th>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:identity) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:token) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:expire_at) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:session_key) %></p>
</th>
<th></th>
