<h2 class="panel-heading has-text-centered"><%= t('.title') %></h2>
<div class="panel-block has-background-white is-flex-direction-column">
  <p>请留意您的短信或邮箱 <%= @identity %></p>
  <p><%= link_to t('.back'), root_url %></p>
</div>
