<div class="four wide column">
  <h2 class="ui block top attached centered header"><%= t('.title') %></h2>
  <div class="ui bottom attached segment">
    <p>An email has been sent to <%= @login %></p>
    <%= link_to 'Home', root_url %>
  </div>
</div>
