<div class="four wide column">
  <h2 class="ui block top attached centered header"><%= t('.title') %></h2>
  <div class="ui bottom attached segment">
    <p>请留意你的短信或邮箱 <%= @identity %></p>
    <%= link_to t('.back'), root_url %>
  </div>
</div>
