<div class="ui three column middle aligned centered grid">
  <div class="column ui segment">
    <h2 class="ui header">Reset Password?</h2>
    <%= form_with scope: nil, url: password_forget_url, local: true, on: { label: false, wrapper_all: false, wrapper_input: false } do |f| %>
      <%= f.text_field :login, placeholder: 'Email/Mobile' %>
      <%= f.submit 'Send me reset password instructions' %>
    <% end %>
  </div>
</div>
