<div class="column ui segment">
  <h2 class="ui header">Reset Password?</h2>
  <%= form_with scope: nil, url: password_forget_url, local: true, class: 'ui large form', on: { label: false, wrapper_all: false, wrapper_input: false } do |f| %>
    <%= f.text_field :login, placeholder: 'Email/Mobile' %>
    <%= f.submit 'Send me reset password instructions' %>
  <% end %>
</div>