<%= link_to({ controller: 'trade/my/carts', action: 'list' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd"><%= current_user.name %></div>
  <div class="weui-cell__ft">
    <span class="has-text-grey has-text-weight-normal">切换</span>
  </div>
<% end %>
