<div class="ui segment breadcrumb">
  <%= link_to 'Back', my_accounts_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>
