<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('auth.admin.user_tags.index.title'), { controller: 'user_tags' } %></li>
    <li class="is-active"><%= @user_tag.name %></li>
  </ul>
</div>
