<%= form_with scope: nil, url: login_path, local: true, class: 'ui large form' do %>
  <div class="field">
    <%= text_field_tag :login, params[:login], placeholder: 'Email or Mobile' %>
  </div>
  <div class="field">
    <%= password_field_tag :password, nil, placeholder: 'Password', autocomplete: false %>
  </div>
  <div class="field">
    <%= submit_tag 'Submit', class: 'ui button' %>
  </div>
<% end %>





