<div class="ui middle aligned centered three column grid" style="height: 100%;">
  
  <div class="column">
    <div class="ui segment">
      <%= render 'form' %>
      <div class="ui divider"></div>
      <div>
        <%= link_to 'forget password', password_forget_path, class: 'ui label' %>
        <%= link_to 'Join', join_path, class: 'ui label' %>
      </div>
    </div>
  </div>
  
  
</div>








