<div class="weui-cell weui-cell_active">
  <div class="weui-cell__bd"><%= yield %></div>
  <div class="weui-cell__ft">
  <% if model.confirmed %>
    <i class="fa-light fa-check-circle has-text-success"></i>
  <% else %>
    <i class="fa-light fa-question-circle has-text-warning"></i>
  <% end %>
  </div>
</div>
