<div class="ui middle aligned centered grid" style="height: 100%;">
  <div class="six wide column">
    <%= render 'form' %>
    <div class="ui divider"></div>

    <div class="ui segment">
      <%= link_to 'forget password', password_forget_path %>
      <%= link_to 'Join', join_path %>
    </div>

  </div>
</div>








