<div>
  <dt><%= UserTagged.human_attribute_name(:tagged_type) %></dt>
  <dd><%= @user_tagged.tagged_type %></dd>
</div>
<div>
  <dt><%= UserTagged.human_attribute_name(:tagged_id) %></dt>
  <dd><%= @user_tagged.tagged_id %></dd>
</div>
