<tr>
  <td class="has-text-right"><%= UserTagged.human_attribute_name(:tagged_type) %></td>
  <td><%= @user_tagged.tagged_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= UserTagged.human_attribute_name(:tagged_id) %></td>
  <td><%= @user_tagged.tagged_id %></td>
</tr>
