<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('auth.panel.users.index.title'), { controller: 'users' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
