<div class="item">
  <span class="header">用户</span>
  <div class="menu">
    <%= link_to '个人资料', my_user_path, class: active_helper(controllers: ['users']) %>
    <%= link_to '账号绑定', my_accounts_path, class: active_helper(controllers: ['accounts']) %>
    <%= link_to '第三方登陆', my_oauth_users_path, class: active_helper(controllers: ['oauth_users']) %>
  </div>
</div>
