<% content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <%= link_to t('.back'), admin_users_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section"><%= t('.show') %></div>
</div>
<% end %>

<%= render 'show_table' %>
