<div class="ui attached segment breadcrumb">
  <%= link_to t('.back'), admin_users_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section"><%= t('.show') %></div>
</div>

<%= render 'show_table' %>
