
<form id="new_sale" class="well form-horizontal" method="post" action="/weixin" accept-charset="UTF-8">

  <input id="sale_price_now" type="text" size="30" name="xml[ToUserName]">
  <input id="sale_price_now" type="text" size="30" name="xml[FromUserName]">
  <input id="sale_price_now" type="text" size="30" name="xml[CreateTime]">
  <input id="sale_price_now" type="text" size="30" name="xml[MsgType]">
  <input id="sale_price_now" type="text" size="30" name="xml[Content]">
  <input id="sale_price_now" type="text" size="30" name="xml[MsgId]">
  <input id="sale_price_now" type="text" size="30" name="xml[signature]">
  <input id="sale_price_now" type="text" size="30" name="xml[timestamp]">
  <input id="sale_price_now" type="text" size="30" name="xml[nonce]">

  <input class="btn btn-primary btn-large" type="submit" value="创建" name="commit">

</form>

