<div data-switch-target="src" class="buttons are-small">
  <%= link_to '在线', filter_params(online: true), class: active_helper(online: true, active: 'button is-info', item: 'button is-light') %>
</div>