<% if defined?(current_organ_domain) && current_organ_domain %>
  <div
    data-controller="visit cable"
    data-visit-url-value="<%= url_for(controller: current_organ_domain.redirect_controller, action: current_organ_domain.redirect_action) %>"
  >
  </div>
<% else %>
  <div data-controller="visit cable" data-visit-url-value="<%= url_for(controller: '/home') %>"></div>
<% end %>
