<div
  data-controller="mini-program"
  data-mini-program-direct-value="true"
  data-mini-program-url-value="/pages/index/index"
  data-mini-program-data-value="<%= { url: url, login: true }.to_json %>"
>
  <span>登陆信息失效，等待授权。</span>
</div>
