<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <main class="columns is-vcentered mb-0">
    <div class="column is-relative is-8 p-0 is-fullheight">
      <div class="background-login"></div>
    </div>
    <turbo-frame id="main" refresh="morph" data-turbo-action="advance" class="column is-4 p-6">
      <%= yield %>
    </turbo-frame>
  </main>
  <%= render 'footer' %>
<% end %>
