<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <div id="alert"></div>
  <main class="columns is-vcentered as-main">
    <%= yield %>
  </main>
  <%= render 'footer' %>
<% end %>
