<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <div>
    <div class="columns is-gapless is-vcentered mb-0">
      <div class="column is-relative is-8 display-none-mobile">
        <div class="hero is-fullheight background-login">
        </div>
      </div>
      <turbo-frame id="main" refresh="morph" data-turbo-action="advance" class="column is-4 is-relative">
        <%= yield %>
      </turbo-frame>
    </div>
  </div>
  <%= render 'footer' %>
<% end %>
