<tr>
  <td class="has-text-right"><%= Auth::App.human_attribute_name(:appid) %></td>
  <td><%= @app.appid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Auth::App.human_attribute_name(:key) %></td>
  <td><%= @app.key %></td>
</tr>
