<div class="ten wide column middle aligned">

</div>


<div class="six wide column middle aligned">
  <div class="ui segment" style="width: 300px;">
    <%= render 'form' %>
    <div class="ui basic right aligned divider segment">
      <%= link_to t('.join'), join_path %>
    </div>
  </div>
</div>
