<div class="ui three column middle aligned centered grid">
  <div class="column ui segment">
    <%= render 'form' %>
    <div class="ui divider"></div>
    <div>
      <%= link_to 'forget password', password_forget_path, class: 'ui button' %>
      <%= link_to 'Join', join_path, class: 'ui button' %>
    </div>
  </div>
</div>


