<div class="menu-label"><%= t('auth.mine.title') %></div>
<div class="menu-list">
  <%= link_to t('auth.mine.users.show.title'), my_user_path, class: active_helper(controllers: ['users'], active: 'is-active', item: nil) %>
  <%= link_to t('auth.mine.accounts.index.title'), my_accounts_path, class: active_helper(controllers: ['accounts'], active: 'is-active', item: nil) %>
  <%= link_to t('auth.mine.oauth_users.index.title'), my_oauth_users_path, class: active_helper(controllers: ['oauth_users'], active: 'is-active', item: nil) %>
</div>
