<div class="menu-label"><%= t('auth.my.title') %></div>
<div class="menu-list">
  <%= link_to t('auth.my.users.show.title'), { controller: 'auth/my/users', action: 'show' }, class: active_helper(controllers: ['users'], active: 'is-active') %>
</div>
